{
  "parser": "babel-eslint",
  "extends": ["prettier/standard", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "./lib"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 120 }],
    "array-bracket-spacing": ["error", "never"],
    "semi": ["error", "always"],
    "no-restricted-globals": 0,
    "@typescript-eslint/quotes": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/comma-dangle": "off",
    "no-plusplus": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/naming-convention": "off",
    "consistent-return": "off",
    "func-names": "off",
    "prefer-spread": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/indent": "off"
  },
  "env": {
    "jest/globals": true
  },
  "overrides": [
    {
      "files": ["lib/**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": ["prettier/standard", "plugin:prettier/recommended", "plugin:jest/recommended"],
      "plugins": ["@typescript-eslint", "prettier", "jest"],
      "settings": {
        "import/resolver": {
          "node": {
            "moduleDirectory": ["node_modules", "./lib", "./docs"]
          }
        }
      },
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
