{
  "parser": "babel-eslint",
  "extends": [
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "./lib", "./docs"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 120 }],
    "array-bracket-spacing": ["error", "never"],
    "semi": ["error", "always"],
    "no-restricted-globals": 0
  }
}
