{
  "branches": ["master", "next"],
  "repositoryURL": "https://gitlab.figo.systems/flc-ds/js-core.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/gitlab",
      {
        "gitlabUrl": "https://gitlab.figo.systems",
        "gitlabApiPathPrefix": "/api/v4"
      }
    ]
  ]
}
