# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.

# These owners will be the default owners for everything in the repo.
* @joseph.crick @josip.brcina @anna.shabalina @dania.duany @shafaq.kazmi
